
/* Shared style */
*{
    margin: 0;
    padding: 0;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.text-secondary{
    color: rgba(0, 0, 0, 0.5);
}
.display-flex{
    display: flex;
}
.bg-colour{
  background-color: #f5f8ff;
}
header{
    max-width: 1140px;
    margin: 0 auto;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}


.nav-list ul{
    justify-content: center;
    align-items: center;
}
.cart-nav{
  text-align: center;
  justify-content: center;
}
.nav-list ul li{
    list-style: none;
    padding: 38px;
}
.nav-list ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #252432;
    font-weight: 600;
}
.navber{
     padding:20px 0px 150px;
    justify-content: space-between;
}
.hero-image img{ 
    width: 100%;
}
#text-primary{
    color: #8987A1;;
}
/* hero-section-titel */
.hero-titel{
    max-width: 650px;
}
.hero-titel h1{
    color: black;
    font-size:4.5rem;
    font-weight: Bold;
} 
.hero-titel h1 span{
    color: #E95A08;
}
.hero-titel p {
    font-size: 1.5rem;
}
.hero-body {
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.hero-image{
    max-width: 100%;
}
/* plants lover section */
.plants-lover{
    justify-content: center;
    align-items: center;
    margin: 200px 0;
    gap: 24px;
    max-height: 597px;
}
.plants-description {
    padding:50px ;
}
.plants-description h3{
    font-size: 4rem;
    margin-bottom: 5px;
}
.plants-description li{
    padding: 10px;
    font-size: 1.2rem;
}







/* responsive design */
@media screen and (max-width:576px){
    .hero-body{
        flex-direction: column-reverse;
    }
    .nav{
        display: none;
    }
    .hero-image{
    max-width: 100%;
}
    .hero-titel{
        padding:10px 20px;
        max-width:100%;
    }
    .hero-titel h1{
        font-size: 3rem;
    }
    .hero-titel p{
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .plants-lover{
        flex-direction: column;
        padding: 100px 10px;
        justify-content: center;
        align-items: center;
    }
    .plants-lover-img img{
        width: 100%;
    }
}
